<!DOCTYPE html>
{% load static %}
<html lang="en">

{% include 'review/head.html' %}

<body>

  <!-- ======= Header ======= -->
{% include 'review/header.html' %}
  <!-- End Header -->
  <main id="main">
  <!-- About Section -->
<div id="about">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12 col-md-6 about-img"> </div>
         <div class="col-xs-12 col-md-3 col-md-offset-1">
          <div class="about-text">
            <div class="section-title">
              <h2>Our Story</h2>
            </div>
            <p>If you want to take your loved ones to  a special place and don't know where to choose, we are excited to help you on your relaxing day based on your wants and needs. 
              All you need to do is choose from the respective categorize what you have in mind.</p>
            <p>We will review and also give full detailed information about hotels and other places such as restaurants, parks, entertainment centers and some latest events. </p>
                <h4>We aim to please!!</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% include 'review/contact.html '%}

   <!-- Vendor JS Files -->
{% include 'review/scripts.html' %}

  </body>
  </html>